body {
    margin: 0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    position: relative;
    width: 50%;
    height: 800px;
    background-color: #ccc;
}

.point {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}